
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.idea
/deployment/nginx/volumes
/deployment/mysql/volumes
/deployment/php/volumes
###< symfony/framework-bundle ###
